ion-title {
	      font-family: dubai;
	      font-size: 20px;
          color: #3dc2ff;
}

#card-equip {
	      margin: auto;
	      font-family: consolas;
	      color: #ed576b;
}

#ion-card-title{
	      color: #ffc409;

}