<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="Light-shade">
	<div id="container">
		<strong class="capitalize"><h1>Bem-vindo ao seu aplicativo de equipamentos de informática !</h1></strong>
    </div>

    <ion-card id="card-home">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJ2CB0QnTztoIzg-0GhHSvS31hG4MjDt8ukg&usqp=CAU" />
        <ion-card-header>
          <ion-card-subtitle><p>Compre o seu equipamento de informática na palma de suas mãos!</p></ion-card-subtitle>
          <ion-card-title><p>Navegue pelo menu, faça o seu cadastro e comece a comprar agora!<p></ion-card-title>
        </ion-card-header>
        <ion-card-content>
    </ion-card-content>
    </ion-card>
</ion-content>