ion-title {
	   font-family: dubai;
	   font-size: 20px;
       color: #3dc2ff;
}

#card-home {
	   margin: auto;
	   color: red;
}

h1 {
    font-family: dubai;
    font-size-adjust: 0.19, strong;
    text-align: center;
	color: #4c8dff;

}

p {
    font-family: dubai;
	font-size: 15px;
	text-align: center;
	color: #cf3c4f;
}